*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  padding: 20px 0;
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  background-color: tomato;
}

header ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
header li {
  position: relative;
}
.header__link {
  display: block;
  padding: 32px 0;
  color: #212121;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-animation: changeScale 500ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: changeScale 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: deeppink;
}
.header__link:hover,
.header__link:focus {
  color: deeppink;
}

.thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 256px;
  background-color: #2a2a2a;

  animation: thumbScale 500ms linear;
  transition: transform 500ms linear;
}

.thumb:focus,
.thumb:hover {
  transform: skew(-10deg);
}

.thumb::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 236px;
  height: 236px;

  animation: afterBorder 2000ms linear infinite;
}

.text {
  z-index: 1;
  color: #ffffff;
  background-color: red;
  padding: 10px 10px;

  transform: rotate(0);
  transition: transform 500ms linear, background-color 500ms linear;
}

.text:hover,
.text:focus {
  transform: rotate(720deg);
  background-color: lightblue;
}

@keyframes afterBorder {
  0% {
    border: 3px dotted pink;
  }
  100% {
    border: 3px dashed pink;
  }
}

@keyframes thumbScale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
